# =========================
# Backend (Fastify + Prisma)
# =========================
NODE_ENV="development"
PORT=3333
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bolsa_virtual_rp?schema=public"
JWT_SECRET="trocar_em_producao"
WEB_ORIGIN="http://localhost:5173"

# =========================
# Frontend (Vite)
# =========================
VITE_API_URL="http://localhost:3333"
